<p>@ViewBag.text</p>
<p>Houve um erro</p>
<p>@ViewBag.teste</p>
<p>@ViewData["item"] </p>
<p>Somando 100 + 200 = @ViewBag.res </p>
<p>Multiplicando 100 x 200 = @ViewBag.soma </p>
<p>@DateTime.Now.ToLongTimeString() </p>
@model Pessoa

<div class="container-fluid">
    <div class="card-body">
        <div class="alert-info border-success">
            <ul>
                <li>
                    ID: @Model.Id
                </li>
                <li>
                    Nome: @Model.Nome
                </li>
                <li>
                    Sobrenome:@Model.SobreNome
                </li>
                <li>
                    Pessoa: @Model.Andar()
                </li>
            </ul>
        </div>

    </div>
</div>